@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 420px;
    margin: 0 auto;
}
.user-box {
    padding: 30px;
    display: flex;
    background: #ffffff;
    box-shadow: 0 8px 36px rgb(67 67 67 / 6%);
    border-radius: 10px;
}
.aveter {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-info {
    margin-left: 2rem;
}
.user-bio {
    padding: 10px 0px 30px;
}
.user-bio a {
    background: #dddddd;
    color: #222222;
    padding: 6px 22px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 8px;
    font-size: 13px;
}
.user-bio a:hover {
    background: #BD1E26;
    color: #ffffff;
}
.user-info ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0;
}
.user-info ul li {
    list-style: none;
}
#form input {
    padding: 12px;
    border: none;
    background: #F6F6F6;
    margin-bottom: 20px;
    border-radius: 6px;
    min-width: 250px;
    border: none;
}
#form input::placeholder {
    color: #666666;
}
#form input:focus {
    outline: none;
}
@media only screen and (max-width: 600px) {
    .user-box {
        flex-direction: column;
    }
    .aveter {
        margin: 0 auto 10px;
        display: block;
        text-align: center;
    }
    .user-info {
        margin-left: 0px;
    }
    .user-info ul {
        width: 100%;
    }
}