* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, rgb(0, 31, 131),rgb(192, 0, 189));
}
.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    border: 3px solid rgb(201, 201, 201);
    border-radius: 2em;
    padding: 5em 3em;
}
h1 {
    font-size: 3em;
}
h3 {
    color: rgb(109, 153, 255);
    font-size: 2em;
}
#choices {
    display: flex;
    gap: 1em;
}
#choices button {
    padding: 0.5em 1.2em;
    border-radius: 0.5em;
    font-size: 3em;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#choices button:hover {
    background-color: #fff;
    border: 3px solid rgb(109, 153, 255);
    transform: scale(1.05);
}
#player-choices,
#computer-choices {
    font-size: 1.8em;
    font-weight: 600;
}
#resultDisplay {
    font-size: 3.5em;
    border: 3px solid rgb(109, 153, 255);
    border-radius: 0.5em;
    padding: 10px 50px;
}