body {
    font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pricing {
    background: #e9e9e9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}
.table {
    margin: 4em 1.5em;
    text-align: center;
    position: relative;
}
.table-header {
    width: 20em;
    height: 13em;
    background: linear-gradient(331deg, #321d58, #7344c8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
.shadow-container {
    filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));
}
.price {
    background: #fff;
    width: 7em;
    height: 7em;
    position: absolute;
    top: -3.5em;
    left: 50%;
    transform: translate(-50%);
    padding: 1.5em 1em 1em 1em;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.3);
}
.price h1 {
    font-size: 2.5em;
    color: #673ab7;
}
.price small {
    color: #999;
}
.title {
    color: #fff;
    text-transform: uppercase;
}
.title h1 {
    margin: 0.3em;
    font-size: 1.8em;
    letter-spacing: 4px;
}
.title p {
    font-size: 0.6em;
    letter-spacing: 1px;
}
.table-body {
    width: 18em;
    margin: -4em auto 0 auto;
    padding: 4em 1em 1em 1em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4em rgba(0, 0, 0, .1);
}
.body-title h2 {
    margin: 1em 0 0.2em 0;
    color: #222;
}
.body-title p {
    color: #777;
}
.table ul {
    list-style: none;
    margin: 2em 0;
}
.table li {
    padding: 1.3em 0;
    color: #999;
    font-size: 0.9em;
}
.table li:nth-child(odd) {
    background: #eee;
}
.table li i {
    margin-right: 0.3em;
}
.table li .fa-check {
    color: #00ff44;
}
.table button {
    background: linear-gradient(331deg, #321d58, #7344c8);
    color: #fff;
    border: none;
    border-radius: 5em;
    padding: 1.1em 2.3em;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    cursor: pointer;
}
.table button:hover {
    background: #fff !important;
    color: #111;
}
.table:nth-child(odd) {
    font-size: 15px;
}
.table:nth-child(2) .table-header,
.table:nth-child(2) button {
    background: linear-gradient(331deg, #b71a50, #ff3c7d);
}
.table:nth-child(2) .price h1 {
    color: #ff3c7d;
}
.table:nth-child(3) .table-header,
.table:nth-child(3) button {
    background: linear-gradient(331deg, #cf3c31, #ff5d51);
}
.table:nth-child(3) .price h1 {
    color: #ff5d51;
}