body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    background: linear-gradient(90deg, #7f00ff, #e100ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper a {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
}
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.modalcontent {
    position: relative;
    background: #fff;
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
}
a {
    font-size: 21px;
    font-weight: 600;
}
.modalclose {
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
}