@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    height: 100vh;
    background: url(bg-img.jpeg)no-repeat center / cover;
    padding: 50px 5%;
}
.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.navbar a:hover,
.navbar a.active {
    border-color: #fff;
}
.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}
.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}
.home-detail h2 {
    font-size: 32px;
}
.home-detail p {
    margin: 10px 0 20px;
}
.home-detail .download-social {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}
.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #fff;
}
.home-detail .social-icons {
    margin-left: 20px;
}
.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}
.home-detail .social-icons a:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}
.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.home-img .img-box img {
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    object-fit: cover;
}