body {
    background-color: #1d2630;

}
h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}
#results {
    margin-top: 20px;
}