.parallax {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.parallax:nth-child(1) {
    background-image: url("img1.jpg");
}
.parallax:nth-child(2) {
    background-image: url("img2.jpg");
}
.parallax:nth-child(3) {
    background-image: url("img3.jpg");
}
.content {
    color: #f0f0f0;
    text-align: center;
    padding: 50px;
}
.content h1 {
    font-size: clamp(2rem, 5vw, 6rem);
}